/*==========  Desktop First  ==========*/

// @media screen and (max-width: 1826px)
    

// @media screen and (max-width: 1760px)
    

// @media screen and (max-width: 1600px)
    

@media screen and (max-width: 1200px)
    .header__item
        font-size: 15px
        margin-left: 20px
    .products
        &__item
            min-height: 717px
        &__item-title
            font-size: 18px
        &__item-para
            margin-bottom: 166px
        &-padding 
            padding-bottom: 35px
    hr 
        width: 865px
    .price-block__ob-price
        font-size: 25px
    .license__count
        margin-right: 0
        
    

// @media screen and (max-width: 1124px)
    

// @media screen and (max-width: 1064px)
    

@media screen and (max-width: 991px)
    .header__item
        font-size: 14px
        margin-left: 10px
    .header__button
        font-size: 16px
    .header__nav
        flex-basis: 66%
    .options__title
        font-size: 35px
    .products
        &__item
            width: 350px
            // margin-bottom: 40px
            margin: 0 auto 40px
            min-height: 620px
    hr 
        width: 625px
    .range__text
        font-size: 14px
    .price-block__ob-header
        font-size: 16px
    .price-block__ob-price
        font-size: 20px
    .price-block__ob-header
        text-align: center
    .contacts
        &__support, &__address
            margin-bottom: 15px
    .footer
        &-wrap
            flex-direction: column
            align-items: center
            justify-content: center
            text-align: center
        &__address, &__text 
            flex-basis: auto
        &__copyright
            margin-bottom: 0px
        &__address
            margin-bottom: 15px
            margin-right: 0
        &__text
            margin-bottom: 15px
            margin-right: 0
        &__phones
            text-align: center
            align-items: center
        &__phone
            text-align: center
            margin-bottom: 0
        &__email
            text-align: center
    
            
        
// @media screen and (max-width: 840px)
    
    
@media screen and (max-width: 768px)
    .header
        &__logo
            z-index: 400
        &__nav
            display: none
            padding-top: 50px
            text-align: center
            background-color: #f2f2f2
            position: fixed
            width: 100vw
            height: 100vh
            top: 0
            right: 0
            left: 0
            bottom: 0
            z-index: 300
            margin-right: 0
        &__list
            display: flex
            flex-direction: column
        &__item
            font-size: 19px
            margin-bottom: 20px
            &:after 
                content: ''
                height: 4px
                width: 4px
                background-color: $accent
                border-radius: 50%
                text-align: center
                display: block
                margin: 13px auto
        &__link
            color: $accent
    .mobile__btn
        display: flex
    .banner__subtitle
        font-size: 17px
    .about__title 
        max-width: 100%
        font-size: 35px
    .about
        padding: 80px 0 60px
    .options
        padding: 80px 0 60px
        &__title
            max-width: 100%
        &__img
            margin-bottom: 10px
        &__list
            margin: auto
            text-align: center
            margin-bottom: 25px
        &__items
            &::before
                position: relative
                left: 0
    .products
        padding: 80px 0 60px
        &__title
            font-size: 35px
            max-width: 100%
    hr 
        display: none
    .calc__title
        font-size: 25px
    .calc__bottom
        flex-direction: column-reverse
    .calc__btn
        margin-bottom: 15px
    .switcher-subtitle
        margin-bottom: 15px
        align-self: flex-start
    .calc
        padding: 80px 0 60px
    .contacts__title
        font-size: 35px
        max-width: 100%
    


    

// @media screen and (max-width: 600px)
    
    
@media screen and (max-width: 450px)
    .banner__title img
        width: 200px
    .banner__subtitle
        font-size: 15px
        margin-top: 0
    .about__title
        margin-bottom: 15px
    .calc__title
        font-size: 20px
    

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) 
    .products__item-para
        margin-bottom: 130px
    // .m-b
    //     margin-bottom: 21px
   

    
    




/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
