.header
    padding-top: 10px
    min-height: 70px
    padding-bottom: 10px
    box-shadow: 0 0 15px 0 rgba(40, 40, 40, .2)
    background-color: #F2F2F2
    position: fixed
    width: 100%
    transition: all 0.2s ease-in-out
    z-index: 999
    &__wrapper
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
    &__logo
        width: 60px
    &__top-text
        font-size: 25px
    &__nav  
        flex-basis: 60%
    &__list
        display: flex
        justify-content: space-between
    &__item
        align-items: center
        margin-left: 40px
    &__link
        color: $black
        text-transform: uppercase
        position: relative
        padding: 5px 0
        &:hover
            text-decoration: none
            color: $black
            opacity: .8
        &::before, &::after
            content: ''
            position: absolute
            width: 100%
            height: 2px
            background-color: #1d7aa7
            left: 0
            transform: scaleX(0)
            transition: all .5s
        &::before
            top: 0
            transform-origin: right
        &::after
            bottom: 0
            transform-origin: left
        &:hover::before, &:hover::after
            transform: scaleX(1) 
    &__button
        color: $black
        padding: 8px 14px
        border: 2px solid #1d7aa7
        border-radius: 10px
        font-family: "Roboto Condensed", sans-serif
        font-size: 18px
        display: inline-block
        transition: all .3s ease-in-out
        &:hover
            text-decoration: none
            color: $black
            opacity: .8
            border: 2px solid #bb4163

.logo
    &__img
        display: block
    &__pic
        max-width: 100%
   

.banner
    &__wrapper
        margin-top: 80px
        min-height: 480px
        background-image: url(../img/bg-1.jpg)
        background-size: cover
        overflow: hidden
        z-index: 0
        transform-style: inherit
        width: 100vw
    &__text
        margin-top: 250px
    &__title
        color: $text
        font-size: 50px
    &__subtitle
        color: $text
        font-size: 21px

.about
    padding-top: 100px
    padding-bottom: 80px
    background-color: #f0f0f0
    // border-bottom: 1px solid #aeaeae
    &__title
        font-size: 40px
        color: $black
        text-align: center
        margin-bottom: 30px
    &__description
        font-size: 18px
        color: $black

.benefits
    padding-top: 100px
    padding-bottom: 80px
    // border-bottom: 1px solid #ccc
    &__title
        color: $black
        font-size: 40px
        text-align: center
        margin-bottom: 30px
    &__item
        display: flex
        flex-direction: column
        justify-content: center
    &__img
        align-self: center
    &__main
        font-size: 18px
        font-weight: 
        text-align: center
        margin-top: 15px
    &__item-text
        margin: 15px 0 15px
    
.options
    padding-top: 100px
    padding-bottom: 80px
    // border-bottom: 1px solid #aeaeae
    &__title
        font-size: 40px
        text-align: center
        margin-bottom: 30px
    &__img  
        background-image: url(../img/office__benefit.png)
        width: 132px
        height: 132px
        margin: auto
        margin-bottom: 25px
    &__phone    
        background-position: 0 0
    &__phone
        background-position: 0 -135px
    &__shield
        background-position: 0 -270px
    &__items
        margin-bottom: 10px
        &:before
            content: "+"
            color: #86ce66
            margin-right: 5px
            font-weight: 700

.products
    padding-top: 100px
    padding-bottom: 80px
    // border-bottom: 1px solid #aeaeae
    background-color: #f0f0f0
    &__item
        background-color: #F0F0F1
        padding: 10px 20px
        height: 594px
        display: flex
        flex-direction: column
    &__title    
        font-size: 40px
        text-align: center
        margin-bottom: 30px
    &__item-title
        font-size: 24px
        font-weight: 600
        text-align: center
    &__item-subtitle
        font-size: 15px
        padding-bottom: 15px
    &__item-text
        // padding: 10px 20px
        font-size: 13px
        padding-bottom: 15px
        flex-grow: 1
    &__item-header
        font-size: 15px
        text-align: center
        font-weight: 600
        margin-bottom: 20px
    &__list-icons
        display: flex
        flex-wrap: wrap
    &__icon
        // width: 64px
        // width: 20%
        width: 75px
        margin-right: 2px
        padding: 0 10px
        margin-bottom: 15px
        display: flex
        flex-direction: column
        align-items: center
        text-align: center
        // &:before
        //     content: url(../img/svg/msoutlook.svg)
        //     width: 48px
    &__pic
        // max-width: 100%
        width: 48px
    &__icon-desc
        font-size: 11px
        margin-top: 5px
    &__services-title
        text-align: center
        font-size: 15px
        font-weight: 600
        margin-bottom: 20px
    &__item-para
        font-size: 13px
        margin-bottom: 165px
        // flex-grow: 40

.requirements
    // border-bottom: 1px solid #aeaeae
    padding: 100px 0 80px
    &__title
        font-size: 40px
        margin-bottom: 30px
        max-width: 1000px
    &__subtitle
        margin-bottom: 20px
    &__para-title
        font-weight: 600
        margin-bottom: 10px
    &__para
        margin-bottom: 10px

.cost-ob
    padding-top: 80px
    padding-bottom: 80px
    font-size: 30px
    font-weight: 300
    color: $black

.container-custom
    max-width: 1700px
    margin: 0 auto

.price-block
    display: flex
    justify-content: space-between
    &__ob
        display: flex
        flex-direction: column
        align-items: center
        &-header
            font-size: 18px
            font-weight: 600
        &-price 
            margin-top: 10px
            margin-bottom: 40px
            span 
                margin-left: 7px
        
.calc-service__header
    margin-top: 30px
    
.checkbox-container
    display: flex

.calc__switcher
    top: 0
    right: 0

.material-switcher__label
    margin-right: 15px

hr 
    width: 966px

.cost-extra
    display: flex
    margin-top: 50px
    // justify-content: space-between
    align-items: center
    .price-block__ob-price:first-child
        margin-right: 153px
        margin-left: 32px

.bottom-line
    border-bottom: 1px solid #170b0870
    padding-bottom: 10px
    position: relative
    &::after
        content: ''
        position: absolute
        width: 80px
        background-color: #4698dd
        height: 3px
        bottom: 0
        left: 0

.calc__wrapper
    // border-color: #aeaeae

.contacts
    padding-top: 60px

.footer 
    border-top: 1px solid #aeaeae

.top 
    position: fixed
    bottom: 25px
    right: -100px
    background-color: $accent
    z-index: 12
    border-radius: 10em
    width: 50px
    height: 50px
    text-align: center
    color: $black
    line-height: 56px
    cursor: pointer
    transition: all .3s ease
    // opacity: .5
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5)
    &:hover
        opacity: .9

.top--active 
    right: 25px

label
    color: $black

.modal-title
    color: $black
    font-weight: 400

.close
    &:active, &:focus
        outline: none

.btn-success
    background-color: #1d7aa7
    &:hover
        background-color: #0069d9
        // opacity: .9
    &:active, &:focus
        outline: none
        border-color: #0069d9
        background-color: #0069d9

#answer
    color: $black

.scrolled
    box-shadow: 0px 1px 5px rgba(0,0,0,0.4)
    // background: #1d282c
    background-color: #dfe6ed