.switcher-subtitle .far
    position: relative
    top: -4px
    left: 2px
    font-size: 13px
    margin-right: 5px

.bottom-line
    border-bottom: 1px solid #170b0870
    padding-bottom: 10px
    position: relative
    &::after
        content: ''
        position: absolute
        width: 80px
        background-color: #4698dd
        height: 3px
        bottom: 0
        left: 0