label
    color: $black

.modal-title
    color: $black
    font-weight: 400

.close
    &:active, &:focus
        outline: none

.btn-success
    background-color: #1d7aa7
    &:hover
        background-color: #0069d9
        // opacity: .9
    &:active, &:focus
        outline: none
        border-color: #0069d9
        background-color: #0069d9

#answer
    color: $black